PORT=3001
SMTP_USER=beemyletechnologies@gmail.com
SMTP_PASS=your_gmail_app_password
CONTACT_RECEIVER=beemyletechnologies@gmail.com
CLIENT_ORIGIN=http://localhost:5173
VITE_CONTACT_API_URL=
VITE_HEALTH_API_URL=
